@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
:root {
    --primary-color: #E6533C;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "slnt" 0;
    list-style: none;
}
body {
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
button{
    padding: 16px 50px ;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}
button:hover{
    background-color: var(--primary-color);
    border: 1px solid transparent;
}
.btn-primary{
    background-color: var(--primary-color);
    border: 1px solid transparent;
}
.btn-primary:hover{
    border: 1px solid white;
    background-color: transparent;
}
section {
    display: grid;
    margin: 5% 13.5%;
}
.section-description{
    font-weight: 400;
    opacity: .5;
    letter-spacing: 0.5px;
    font-size: 1rem;
    margin: 25px 0 40px 0;
    line-height: 1.5;
    color: #fff;
}
.section-title{
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1rem;
}




.header {
    background-image: url('../images/header-bg.png');
    background-size: cover; 
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 13%;
}

.header .navbar .logo {
    color: var(--primary-color);
    font-weight: 800;
    font-style: italic;
    font-size: 2.25rem;
}

.header .navbar .desktop-menu {
    display: flex;
    gap: 3rem;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 39px;
    padding: 4px;
}
.header .navbar .desktop-menu .menu{
    padding: 8px 20px;
    border-radius: 40px;
    transition: all 0.2s ease-in;
}
.header .navbar .desktop-menu .menu:hover{
    background-color: var(--primary-color);
}
.hamburger{
    display: none;
}
.hero{
    
    background: url("../images/Images 2.png");
    background-repeat: no-repeat;
    background-position: top right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    height: 85vh;
    margin-top: 0;
}
.hero .left h1{
    margin-top: 40px;
    font-weight: 900;
    font-size: 4.8rem;
}
.hero .left h1 span{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 7rem;
    line-height: 1
}

.hero .left .btns{
    display: flex;
    gap: 14px;
}
.hero .right{
    position: relative;
}

.hero .small-card{
    backdrop-filter: blur(10px);
    background-color: #3030308A;;
    padding: 17px 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: 15%;
    right: -10%;
}

.hero .small-card span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.hero .primary-small-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top:60%;
    right: 55%;

}
.hero .small-card h3{
    font-weight: 900;
    font-size: 2.5rem;
}
.hero .small-card p{
    font-weight: 400;
    font-size:0.8rem;
    opacity: .5;
    letter-spacing: 1px;
}
.hero .red-circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.cng-habits{
    text-align: center;
}
.cng-habits .row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.cng-habits .section-description{
    width: 70%;
margin-left: auto;
margin-right: auto;
}

.cng-habits .row .circle-card-image{
    border-radius: 50%;
}
.cng-habits .row .circle-card-title{
    font-weight: 600;
    margin-top: 30px;
}

.cng-habits .row .circle-card-description{
    font-weight: 400;
    opacity: .5;
    letter-spacing: 0.5px;
    font-size: 1rem;
    margin: 18px 0;
}





.join-now {
    background-color: #222222;
    grid-template-columns: 1fr 1fr;
gap: 60px;
    border-radius: 15px;
    
    padding: 40px 60px;

}

.join-now .wrap{
    width: 366px;
    height: 320px;
    overflow: hidden;
    border-radius: 15px;
    margin-left: auto;
}
.join-now .right img{
    width: 100%;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
    transform: scale(2.5) translate(-65px, 32px);
}







.training{
    margin-top: 10%;
}
.training .section-description{
    width: 50%;
}


.training .img-card{
    width: 100%;
    position: relative;
}
.training .wrap{
    overflow: hidden;
    height: 100%;
}

.training .img-card img{
width: 100%;
height: 100%;
object-fit: cover;
transform: scale(1.2);
}

.training .img-card  p{
    position: absolute;
    z-index: 2;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.training .training-image-gallery{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-areas:
    "item1 item1 item1 item1 item1 item2 item2 item2 item2 item2 item2 item2 item2 item3 item3 item3 item3 item3 item3 item3"
    "item4 item4 item4 item4 item4 item4 item4 item5 item5 item5 item5 item5 item6 item6 item6 item6 item6 item6 item6 item6";

}

.training .img-card:nth-of-type(1) {
  grid-area: item1;
}
.training .img-card:nth-of-type(1)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(169, 100%, 51%, 50%); 
    pointer-events: none; 
    z-index: 1;
}
.training .img-card:nth-of-type(1) p{
    position: absolute;
    bottom: 35px;
    left: 30px;
}



.training .img-card:nth-of-type(2) {
  grid-area: item2;  
}
.training .img-card:nth-of-type(2)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(0, 100%, 50%, 30%);
    pointer-events: none; 
    z-index: 1;
}
.training .img-card:nth-of-type(2) p{
    position: absolute;
    top: 25px;
    left: 30px;
}



.training .img-card:nth-of-type(3) {
  grid-area: item3;  
}
.training .img-card:nth-of-type(3)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 0%, 50%);
    pointer-events: none; 
    z-index: 1;
}
.training .img-card:nth-of-type(3) p{
    position: absolute;
    bottom: 35px;
    left: 30px;
}



.training .img-card:nth-of-type(4) {
  grid-area: item4;  
}
.training .img-card:nth-of-type(4)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 0%, 50%);
    pointer-events: none; 
    z-index: 1;
}
.training .img-card:nth-of-type(4) p{
    position: absolute;
    top: 35px;
    right: 30px;
}



.training .img-card:nth-of-type(5) {
  grid-area: item5;  
}
.training .img-card:nth-of-type(5)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(104, 100%, 50%, 30%);
    pointer-events: none; 
    z-index: 1;
}
.training .img-card:nth-of-type(5) p{
    position: absolute;
    bottom: 35px;
    left: 30px;
}



.training .img-card:nth-of-type(6) {
  grid-area: item6;  
}
.training .img-card:nth-of-type(6)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(223, 100%, 50%, 30%);
    pointer-events: none; 
    z-index: 1;
}
.training .img-card:nth-of-type(6) p{
    position: absolute;
    bottom: 35px;
    left: 30px;
}







    


.bmi .wrap{
    margin-left: auto;
}
.bmi .section-description{
    width: 85%;
}
.bmi-chart-calculator{
    margin: 0;
    background-color: #222222;
    padding: 5% 13.5%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 20%;
}


.bmi-chart-calculator .chart {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.bmi-chart-calculator .chart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.bmi-chart-calculator .chart-table th, .chart-table td {
    border: 1px solid #444;
    padding: 8px;
    text-align: center;
}
.bmi-chart-calculator td{
    color: #fff;
    opacity: .5;
}


.bmi-chart-calculator .calculator-input-row select option{
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    color: #757575;
}

.bmi-chart-calculator .calculator-input-row {
    display: flex;
    margin-bottom: 10px;
}

.bmi-chart-calculator .calculator-input-row input, .calculator-input-row select {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #757575;
    margin-right: 10px;
}

.bmi-chart-calculator .calculator-input-row input:last-child, .calculator-input-row select:last-child {
    margin-right: 0;
}




.team{
    text-align: center;
}
.team .section-description{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.team .team-cards{
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}
.team .team-cards .team-card{
    width: 100%;
    position: relative;
}

.team .team-cards .team-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.team .team-cards .team-card .overlay{
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}









footer.footer {
    background-color: #222222;
}
footer.footer .container{
    margin: 5% 13.5%;
    margin-bottom: 0;
    padding-top: 5%;
    padding-bottom: 3%;
}

footer.footer .secondary-footer > div{
    margin-left: auto;
}

footer.footer .secondary-footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: s;
}

footer.footer .footer-logo {
    color: var(--primary-color);
    font-weight: 800;
    font-style: italic;
    font-size: 2.25rem;
}

footer.footer .footer-description {
    font-size: 16px;
    line-height: 1.5;
    max-width: 80%;
    color: #fff;
    opacity: 50%;
}



footer.footer .h3-title {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

footer.footer .footer-menu {
    list-style: none;
    padding: 0;
}

footer.footer .footer-menu li {
    margin-bottom: 10px;
    font-size: 16px;
    transition: all .2s;
    color: #fff;
    opacity: 50%;
    cursor: pointer;
}

footer.footer .footer-menu li:hover{
    opacity: 100%;
}
footer.footer hr {
    border: 0;
    border-top: 1px solid #535353; /* Dark gray line */
    margin: 40px 0;
}

footer.footer .copyright {
    text-align: center;
    font-size: 14px;
    color: #fff;
    opacity: 40%;
}






